.menu{
	height: 170px;
	width: 10%;
	float: left;
}
.menuitem{
	padding-top: 20px;
	padding-bottom: 2px;
	border-bottom: 1px solid #f1f1f1;
}
.link{
	text-decoration: none;
}

.main{
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
	width: 60%;
	float: left;
}

.right{
	border-top: 2px solid white;
	width: 25%;
	float: left;
	height: 450px;
	padding-left: 20px;
	background-color: #E6e6fa;
}

.insight{
	width: 100%;
	color: white;
	font-size: 20px;
	height: 50px;
	float: left;
	padding: 0px;
	background-color: #5f9ea0;
}

@media only screen and (max-width: 800px)
{
	/* For tablets: */
	.main{
		width: 80%;
		padding: 0;
	}
	.right{
		width: 100%;
	}
}

@media only screen and (max-width: 500px)
{
	/* For mobile phones: */
	.menu, .main, .right{ width: 100%; }

}

