nav{
	top: 200px;
	width: 100%;
	float: right;
	padding: 7px;
	background-color: rgb(70,80,90);
}

#abc{
	color:white;
	font-family: sans-serif;
}

#header{
	background-image: url(header-background.png);

#T1{
	width: 100%;
	border: 1;
}